.button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.success {
    color: #5C9210;
}

.danger {
    color: #944317;
}
