.checkboard {
	position: relative;

	.board {
		width: 90%;
		max-width: 500px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;

		.chip, .arrow {
			width: calc(100% / 7);
			padding: 0;
			display: inline-block;
			text-align: center;

			svg { display: block; }
		}
	}

}

.chip svg { width: 105%; height: auto; }
.full { background: blue; }

span.red { color: red; }
span.gold { color: gold; }
